<article class="product-item">
  <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
  <div class="product__item__content">
    <h2 class=""><%= product.title %></h2>
    <div class="product__btn__actions">
      <% if(locals.isAdmin) { %>
        <a class="btn--primary" href="/admin/products/<%= product.id %>">View & Edit</a>
        <button class="btn--primary btn--warning deleteBtn" data-productid="<%= product.id %>">Delete</button>
        <% } else { %>
          <a class="btn--primary" href="/products/<%= product.id %>">View Details</a>
      <% } %>
    </div>
  </div>
</article>