<%- include('../../shared/includes/head', { pageTitle : 'Home'}) %>
<link rel="stylesheet" href="/dest/css/component/product.css" />

</head>
    <body>
        <%- include('../../shared/includes/header') %>
        <main class="product-details">
            <header>
                <img src="<%=product.imageUrl %>" alt="<%= product.title%>">
                <div class="product-info">
                    <h1><%= product.title %></h1>
                    <p>$<%= product.price %></p>
                    <button class="btn--primary">Add to cart</button>
                </div>
            </header>
            <p class="product-description"><%= product.description %></p>
        </main>
        <%- include('../../shared/includes/footer') %>