<%- include('../../shared/includes/head', { pageTitle : 'Login'}) %>
<link rel="stylesheet" href="../dest/css/component/forms.css">
<link rel="stylesheet" href="../dest/css/page/auth.css" />

</head>
<body>
  <%- include('../../shared/includes/header') %>

  <main class="auth-main">
    <section class="form-section">
      <img src="/image/logo.png" class="logo logo--title" alt="logo">
      <% if (inputData.errorMessage) { %>
        <section class="alret">
            <h2>Invalid Input</h2>
            <p><%=inputData.errorMessage %></p>
        </section>
      <% } %>
      <form action="/login" method="POST" class="global-form login-form">
        <ul class="form-list">
          <li class="form-list-item">
            <input type="email" name="email" id="email" placeholder="Email" value="<%= inputData.email %>" />
          </li>
          <li class="form-list-item">
            <input type="password" name="password" id="password" placeholder="****" value="<%= inputData.password %>">
          </li>
          <li class="form-list-item">
          <button type="submit" class="btn--primary">Login</button>
        </li>
        </ul>
        </form>
        <p><a href="/signup">Create New User</a></p>
    </section>
  </main>
<%- include('../../shared/includes/footer') %>